@charset "utf-8";
/*
	작성자 : 정민정
	버전 : 1.0.1...
	수정일 : 2020.7.2
*/

/* a태그 스타일 시트*/

a:link{color : black;	text-decoration : none;}
a:visited{	color : black; text-decoration : none;}
a:hover{
	color : black;
	text-decoration : underline;
}
a:active{color : red; text-decoration : none; background-color : pink;}

/*
	a:hover는 반드시 a:link, a:visited 뒤에 써야함
	a:active는 반드시 a:hover 뒤에 써야함
	
	a:link - a태그로 링크를 걸어 놓은 텍스트에 적용할 스타일
	
	a:visited - 링크를 타고 방문했던 텍스트에 적용할 스타일( 클릭을 한번 이상 했던 링크)
	
	a:hover - 링크가 걸린 텍스트 위에 마우스를 올렸을 때 적용할 스타일
	
	a:active - 링크가 걸린 텍스트를 누르고 있는 동안!에 적용할 스타일(기본값 : 빨간색)
*/


.bg{
	width : 100%;
	height : 600px;
	background : url('../images/cupcake.png') rgb(0,255,0) no-repeat center center fixed;
}
/*
	background 축약 형식으로 쓸때 사용할 수 있는 프로퍼티
	background-color
	background-image
	background-attachment
	background-position
*/

ol li{/*ol 태그 안에 있는 모든 li태그 선택*/
	background-color : rgba(0,0,0,0.3);
	padding : 5px;
	border : 1px solid red;
	margin : 10px;
}