@charset "utf-8";

.img01{
	border-radius : 50%;
	width : 40%;
	/*
	이미지에 width를 %단위로 줄 경우
		- 감싸고 있는 요소의 크기에 따라 변함.
			※현재 감싸고 있는 요소는 body
			
	img01의 경우 가로사이즈 및 래디우스 모두 %를 적용하여 사용함 (가변사이즈가 됨.)
	*/
}
.img02{
	border-radius : 20px;
	width : 300px;
	height : 200px;
	
	/*
	px, mm, cm 등으로 단위를 지정 할 경우 고정 사이즈가 됨.
	*/
}
	
.img03{
	width : 200px;
	border : 1px solid #ddd;
	padding : 10px;
}
	
.img04{
	width : 300px;
	box-shadow : 8px 8px 10px #333;
	opacity : 0.5
}