<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>추천영화리스트</title>
<link href="./style.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>

<div class="movie-list">
	<ul>
		<li>
			<figure><img src="images/movie01.jpg" alt="콜 미 바이 유어 네임"></figure>
			<p>콜 미 바이 유어 네임</p>
		</li>
		<li>
			<figure><img src="images/movie02.jpg" alt="캣츠"></figure>
			<p>캣츠</p>
		</li>
		<li>
			<figure><img src="images/movie03.jpg" alt="작은 아씨들"></figure>
			<p>작은 아씨들</p>
		</li>
		<li>
			<figure><img src="images/movie04.jpg" alt="피아니스트"></figure>
			<p>피아니스트</p>
		</li>
		<li>
			<figure><img src="images/movie05.jpg" alt="플로리다 프로젝트"></figure>
			<p>플로리다 프로젝트</p>
		</li>
		<li>
			<figure><img src="images/movie06.jpg" alt="프레스티지"></figure>
			<p>프레스티지</p>
		</li>
	</ul>
</div>


</body>
</html>