<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>NEW</title>
<link href="./css_nav.css" rel="stylesheet" type="text/css" />
</head>
<body>
<nav>
	<ul>
		<li><a href="#">MENU</a></li>
		<li><a href="#">MENU</a>
			<ul class="submenu">
				<li><a href="#">subMenu</a></li>
				<li><a href="#">subMenu</a></li>
				<li><a href="#">subMenu</a></li>
				<li><a href="#">subMenu</a></li>
			</ul>
		</li>
		<li><a href="#">MENU</a>
			<ul class="submenu">
				<li><a href="#">subMenu</a></li>
				<li><a href="#">subMenu</a></li>
				<li><a href="#">subMenu</a></li>
				<li><a href="#">subMenu</a></li>
			</ul>
		</li>
		<li><a href="#">MENU</a></li>
		<li><a href="#">MENU</a>
			<ul class="submenu">
				<li><a href="#">subMenu</a></li>
				<li><a href="#">subMenu</a></li>
				<li><a href="#">subMenu</a></li>
				<li><a href="#">subMenu</a></li>
			</ul>
		</li>
	</ul>
</nav>

</body>
</html>