<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>NEW</title>
<link href="./img_caption.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="wrapper">
	<h1>CSS 호버효과(이미지캡션)</h1>
		<div class="box">
			<img src="./images/friends.jpg" alt="friends" class="photo" />
			<div class="caption">
				<p>이미지 타이틀<br /> 이미지 설명 등이 들어가는 곳입니다.</p>
			</div>
		</div>
		<div class="box">
			<img src="./images/lamp.jpg" alt="lamp" class="photo" />
			<div class="caption">
				<p>이미지 타이틀<br /> 이미지 설명 등이 들어가는 곳입니다.</p>
			</div>
		</div>
	</div>

</body>
</html>