@charset "utf-8";

#wrapper {
	width : 500px;
	height : auto;
	margin : 20px auto;
}

#wrapper .box{
	width : 350px;
	height : 300px;
	border : 4px solid #ccc;
	overflow : hidden;
	/*넘치는 텍스트 또는 이미지 가려주는*/
	position : relative;
	/*감싸져 있는 box 클래스를 기준점으로 삼아서 나머지 div 등을 배치 시키려고 함*/
}

.box .photo{
	position : absolute;
	left : 0;
	
	transition : all 300ms ease-in;
}

.box .caption{
	position : absolute;	
	background : rgba(0,0,0,0.5);
	color : #fff;
	/*
	opacity : 0.5;
	color : #fff;
	
	opacity  프로퍼티를 사용하여 투명도를 줄수 있지만
	선택자 안쪼겡 들어가 있는 모든 하위요소에도 투명도가 들어가기 때문에 배경색상에만 투명도를 주기 위해
	
	background : rgba(0,0,0,0.5);를 사용함
	*/
	width : 200px;/*px 단위 고정 % 단위 가변*/
	height : 300px;
	left : 350px;
	padding : 20px;
	
	
	transition : all 300ms linear;
}

.box .caption p{
	position : absolute;
	bottom: 50px;
}

.box:hover .caption{
	transform : translateX(-100%);
}

.box:hover .photo{
	transform:scale(1.5,1.5);
}