@charset "utf-8";

body{
	background : url('./images/bg0.jpg') no-repeat fixed;
	background-size : cover;
}

@media screen and (max-width:1204px){	
/*브라우저의 가로 사이즈가 1204px로 변하면*/
	body{
		background : url('./images/bg1.jpg') no-repeat fixed;
		background-size : cover;	
	}
	h1{color:#fff;}	
}

@media screen and (max-width:700px){	
/*브라우저의 가로 사이즈가 700px로 변하면*/
	body{
		background : url('./images/bg2.jpg') no-repeat fixed;
		background-size : cover;
	}
	h1{color:#fff;}
}

@media screen and (max-width:620px){	
/*브라우저의 가로 사이즈가 620px로 변하면*/
	body{
		background : url('./images/bg3.jpg') no-repeat fixed;
		background-size : cover;
	}
	h1{color:#fff;}
}

