<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>삼성코닝어드밴스드글라스</title>
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="'wrapper">
	<header>
		<div id="header_wrapper">
			<h1 id="header_logo">
				<a href="#"><img src="./images/logo.png" alt="로고" /></a>
			</h1>	
			<nav>
				<ul>
					<li>회사소개</li>
					<li>제품소개</li>
					<li>인재채용</li>
					<li>녹색경영</li>
				</ul>
			</nav>
			<div id="util">
				<img src="./images/contact-us.png" alt="contaxt us" />
			</div>
		</div>	
		<div id="visual_bnr">
			<img src="./images/main_img.jpg" alt="main_banner" />
			<a href="#"></a>
			<a href="#"></a>
		</div>	
	</header>
	<div id="container">
		<ul>
			<li class="list_1"><a href="#" class="list_t">Recruit</a>
				<ul>
					<li><a href="#" class="list_d">삼성코닝어드밴스드글라스와<br /> 함께할 인재를 기다립니다.</a></li>
				</ul>
			</li>
			<li class="list_2"><a href="#" class="list_t">Contact Us</a>
				<ul>
					<li><a href="#" class="list_d">Network palce<br />Information</a></li>
				</ul>
			</li>
			<li class="list_3"><a href="#"class="list_t">Company</a>
				<ul>
					<li><a href="#"  class="list_d">삼성코닝어드밴스드글라스를<br />소개합니다.</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>	
	<footer>
		<div id="footer_wrap">
			<img src="./images/foot-logo.png" alt="footer logo" />
			<div id="footer_menu">
				<ul>
					<li><a href="#">고객지원</a></li>
					<li><a href="#">개인정보 취급방침</a></li>
					<li><a href="#">관리자에게 문의</a></li>
					<li><a href="#">사이버감사</a></li>
				</ul>
			</div>
			<address>
				COPYRIGHT &copy; 2019 SAMSUNG CORNING ADVANCED GLASS. ALL RIGHTS RESERVED.
			</address>
		</div>
	</footer>
</body>
</html>