<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>사회책임경영</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="mng-wrap">
	<ul>
		<li>
			
			<a href="#">
				<figure><img src="images/pic1.jpg" alt="사회공헌"></figure>
				<dl>
					<dt>사회공헌</dt>
					<dd>
						사회적 약자를 배려하는 한편<br>
						모든 이해관계자들과 함께<br>
						지속가능한 미래 가치를 창조
					</dd>
				</dl>
			</a>
			
		</li>
		<li>
			
			<a href="#">
				<figure><img src="images/pic2.jpg" alt="안전환경경영"></figure>
				<dl>
					<dt>안전환경경영</dt>
					<dd>
						안전보건경영시스템 국제 인증<br>
						규격 OHSAS 18001 과 국내<br>
						안전보건경영시스템 인증
					</dd>
				</dl>
			</a>
			
		</li>
		<li>
			
			<a href="#">
				<figure><img src="images/pic3.jpg" alt="신뢰경영"></figure>
				<dl>
					<dt>신뢰경영</dt>
					<dd>
						지속적인 성장을 위한<br>
						투명하고 공정한 기업문화로<br>
						가꾸어 나갈 것입니다.
					</dd>
				</dl>
			</a>
			
		</li>
		<li>
			
			<a href="#">
				<figure><img src="images/pic4.jpg" alt="공정거래"></figure>
				<dl>
					<dt>공정거래</dt>
					<dd>
						투명하고 공정한 거래질서를<br>
						확립 하기 위해 공정거래자율준수<br>
						프로그램을 운영하고 있습니다.
					</dd>
				</dl>
			</a>
			
		</li>
	</ul>
</div>

</body>
</html>