@charset "utf-8";
@import "reset.css";

/*font-family: 'Nanum Gothic', sans-serif;*/
/*공통 css*/
*{font-family: 'Bebas Neue', cursive;}
.container{
	width : 90%;
	max-width : 1132px;
	margin : 0 auto;
}

.cfixed:after, .container:after{
	content : '';
	display : block;
	visibility : hidden;
	clear : both;
	width : 0;
	height : 0;
}

.blind{
	position : absolute;
	width : 0;
	height : 0;
	text-indent : -99999px;
	overflow : hidden;
	line-height : 0;
}

.sec-tit{
	font-size : 50px;
}

.divider{
	width : 90%;
	max-width : 1132px;
	margin : 0 auto;
	background-color : #000;
	height : 1px;
}

.m-divider{
	width : 80px;
	height : 3px;
	background : #215426;
	margin : 0 auto;
	margin-top:70x; /*위쪽 여백*/
}

.footer-logo{
	/*로고 크기에 따라 변경*/
	width : 200px;
	text-align : center;
	margin : 0 auto;
	padding : 20px 0 10px;
}

footer{
	margin-top : 100px;
	text-align : center;
}

.copyright{
	margin : 10px 0;
	color : #000;
}



/*모바일용 768px 이하*/

/*헤더영역*/
.header{
	position : relative;
	padding : 20px 5%;
	/*
	container 클래스 부분이 90% 들어간 상태.
	나머지 10% 양쪽으로 나누어서 중앙으로 배치하기 위해 5% 줌.
	*/
}

.logo{
	float : left;
	width : 200px;
}

.logo a{
	overflow : hidden;
	width : 200px;
}

.gnb{
	display : none;
	/*모바일이면  gnb 버튼으로 숨겨져서 숨겨놓는 것*/
	position : absolute;
	top : 100%;
	left: 0;
	width : 100%;
	background-color : #000;
}

.gnb li{
	/*border-bottom : 1px solid #fff;*/
}

.gnb li a{
	display : block;
	padding : 15px 0 15px 5%;
	color : #fff;
	font-size : 2em; 
}

.menu-toggle-btn{ /*span 태그로 작성됨.*/
	float : right;
	width : 30px;
	margin-top : 13px;
	/*로고 사이즈에 따라 상단 여백 변경해야함.*/
	cursor : pointer;
}

.menu-toggle-btn span{
	display : block;
	width : 100%;
	height : 3px;
	background-color : #000;
}

.menu-toggle-btn span:nth-of-type(2){
	margin : 5px 0;
	width : 20px;
}


/*비주얼 배너 영역*/

.slider img{
	display : block;
	width : 100%;
	max-width : 100%;
	height : auto;
}

/*디스플레이 영역 about title*/

.display-section{
	margin-top : 70px;
	text-align : center;
}

.display-section .sec-tit{
	margin-bottom : 30px;
}

.display-section .desc{
	color : #999;
	line-height : 2;
}

/*아이콘 영역*/
.icon-section{margin:70px 0;}

.promo-list{
	margin-top : 50px;
	text-align : center;
}

.promo-list:first-child{
	margin-top : 0;
}

.promo-list li img{
	height : 180px; /*가로나 세로값 둘중 하나만 입력하여 비율 유지하면서 아이콘 크기 변경*/
}

.promo-list li h3{
	margin : 20px 0;
	color : #000;
	font-weight : bold;
	font-size : 1.8em;
}

.promo-list li p{
	font-size : 0.9em;
	line-height : 1.6;
	color : #000;
}


/*포토영역*/
.photo-section{
	margin-top : 70px;
	margin-bottom : 70px;
}
.photo-section .sec-tit{/*공통*/
	width : 90%;
	max-width : 1132px;
	margin : 0 auto;
	margin-bottom : 50px;
	text-align : center;
}

.photo-list li{width : 100%;}
.photo-list li img{
	width : 100%;
	max-width : 100%;
	height : auto;
	display : block;
}

.photo-list li a{
	display : block;
	position : relative;
	width : 100%;
	height : 100%;
}

.photo-list li a:before{/*공통*/
	content: '';
	display : block;
	width : 100%;
	height : 100%;
	position : absolute;
	background-color : #000;
	opacity : 0;
	transition : all 0.3s;
}

.photo-list li a:hover:before{
	opacity : 0.6;
}

.info{
	position : absolute;
	top : 0;
	left : 25px;
	z-index : 20;
	opacity : 0;
	transition : all 0.4s;
}

.photo-list li a:hover .info{
	opacity : 1;
	transform : translateY(30px);
}

.info h3{/*공통*/
	margin-bottom : 8px;
	font-size : 1.2em;
	color : #fff;
	font-weight : bold;
	font-family: 'Nanum Gothic', sans-serif;
}

.info span{/*공통*/
	font-size : 1em;
	color : #fff;
	font-family: 'Nanum Gothic', sans-serif;
}


/*블로그(리뷰) 영역*/

.blog-section{margin-top : 70px;}
.blog-section .sec-tit{
	margin-bottom : 50px;
	text-align : center;
}

.blog-list li{
	width : 100%;
	margin-top : 50px;
}

.blog-list li img{
	display : block;
	width : 100%;
	max-width : 100%;
}

.blog-list li time{
	display : block;
	font-size : 1.5em;
	color : #999;
	margin : 10px 0;
}

.blog-list li h3{
	color : #000;
	line-height : 1.6;
	font-family: 'Nanum Gothic', sans-serif;
}

/*연락처 영역*/

.contact-section{margin-top : 90px;}
.contact-section .sec-tit{
	margin-bottom : 50px;
	text-align : center;
}

.form-box input{
	padding-bottom : 15px;
	margin-bottom : 40px;
	outline : 0;
}

.textarea textarea{
	height : 170px;
	outline : 0;
}

.send-btn{
	margin-top : 40px;
	text-align : right;
}

.send-btn button{
	padding : 10px 30px;
	margin : 0;
	border : 0;
	color : #fff;
	background-color : #000;
	cursor : pointer;
}

/*로케이션 영역*/
.location-section{margin-top : 70px;}
.location-section .sec-tit{
	text-align : center;
	margin-bottom : 50px;	
}



/*테블릿용 768px 기준*/
@media all and (min-width:768px){
	
	/*태블릿용 중간 divider*/
	
	.divider.m-divider{
		margin-top : 100px;
	}
	
	
	/*태블릿용 헤더 영역*/
	
	.header{position : static;}
	.header .logo{float : left;}
	.header .gnb{
		display : block;
		position : static;
		float : right;
		width : auto;
		margin-top : 10px;
		/*로고 크기에 따라 변경할 것*/
		background : none;
	}
	
	.header .gnb li{
		float : left;
		margin-left : 20px;
		color : #000;
		border-bottom : 0;
	}
	
	.header .gnb li a{color : #000;}
	.header .gnb li a:hover{font-weight : bold;}
	.menu-toggle-btn{display : none;}
	
	/*태블릿용 about 영역*/
	.display-section{margin-top : 90px;}
	
	
	/*태블릿용 아이콘 영역*/
	.icon-section{margin-top : 90px;}
	.promo-list li{
		float : left; /*pc, tablet 사용*/
		width : 23.046875%; 
		/*
			220px(가로사이즈)
			768px(디스플레이 사이즈)
			220 / 768 * 100(가변크기 %값)
		*/
		/*
			왼쪽마진 값 - 21px;
			21 / 768 * 100 = 2.734375%

		*/
		margin-left : 2.604166666666667%;
		margin-top : 0;
	}
	
	.promo-list li:first-child{
		margin-left : 0;
	}
	
	.promo-list li img{height : 150px;}
	/*아이콘 이미지 사이즈*/
	
	/*태블릿 포토 영역*/
	.photo-section{margin-top : 100px;}
	.photo-section .sec-tit{margin-bottom : 80px;}
	.photo-list li{
		float : left;
		width : 50%;		
	}
	
	/*태블릿 블로그 영역*/
	
	.blog-section{margin-top:100px;}
	.blog-section .sec-tit{margin-top : 80px;}
	.blog-list li{
		float : left;
		width : 31.25%;
		/*가로 사이즈 240 왼쪽여백 20*/
		margin-left : 2.604166666666667%;
	}
	.blog-list li:first-child{margin-left : 0;}
	
	
	/*태블릿 연락처 영역*/
	.contact-section{margin-top : 150px;}
	.contact-section .sec-tit{margin-bottom : 70px;}
	.form-box .form, .form-box .textarea{
		float : left;
		width : 48.69791666666667%; 
		/*
			768 - 20(마진값) : 
			= 748 / 2
			= 374(마진값 제외한 절반.)
		*/
		/*
			374 / 768 * 100 (width 값)
		*/
		}
		.form-box .form{
		margin-right : 2.604166666666667%;
		}
		
		/*태블릿 위치 영역 */
		.location-section .sec-tit{
			margin : 70px 0;
			text-align : center;
		}
		
		/*태블릿 푸터 영역*/
		
		footer{margin : 35px 0;}
		
		
	}
	
	


/*데스크탑용 1132px; 기준*/
@media all and (min-width:1132px){
	
	/*PC용 about 영역*/
	.display-section{text-align:left;}
	.display-section .sec-tit{
		float : left;
		margin-bottom : 0;
	}
	.display-section .desc{
		position : relative;
		float : right;
		padding-left : 20px;
		color : #999;
		line-height : 1.9;
		
	}
	.display-section .desc:before{
		content:'';
		display : block;
		position : absolute;
		top : 10px;
		background-color : #666;
		width : 2px;
		height : 45px;
	}
	
	/*PC용 포토영역*/
	.photo-section .sec-tit{
		text-align : left;
	}
	.photo-list li{width : 25%;}
		
	/*PC용 블로그영역*/
	.blog-section .sec-tit{
		float : left;
		margin-bottom : 0;
	}
	
	.blog-section .blog-list{
		/*ul의 가로 사이즈 840px*/
		float : right;
		width : 74.20494699646643%;
		/*
			840 / 1132 * 100
		*/
	}
	
	.blog-list li{/*감싸고 있는 가로 : 840*/
		/*li의 가로 크기*/
		width : 32.14285714285714%;
		/* 270 / 840 * 100 = (width 값)*/
		margin-left : 1.785714285714286%;
		/* 15 / 840 * 100 = (margin left 값)*/
	}
	
	
	/*PC용 컨텍 영역*/
	.contact-section .sec-tit{
		float : left;
		margin-bottom : 0;
	}
	
	.form-box{
		float : right;
		width : 74.20494699646643%;
	}
	
	/*PC용 지도 영역*/
	.location-section .sec-tit{
		margin : 60px 0;
		text-align : left;
	}
	
	
	
	
}


























