*{margin:0;padding:0;}
ul,ol,li{list-style:none;}
img{vertical-align:top;}
body{font:16px/1/*사이즈(font-size)/줄간격(line-height)*/ Arial,sans-serif;color:#676767;}

.guide-wrap{
	width : 1080px;
	margin : 50px auto;
	border : 1px solid #fcc;
	
}

h1{
	color : #546220;
	padding-top : 82px;
	padding-bottom : 30px;
	text-align : center;
}

.buying{
	width : 1080px;
	height : 500px;
	background : #e9e9e9;
}

.buying>ul{
	width : 1080px;
}
.buying>ul li{
	width : 540px;
	text-align : center;
	float : left;
}

.buying>ul>li:nth-of-type(1){
	background : url('./images/purchase_img_01.png') no-repeat 50% 30px;
	background-size : 120px;
}

.buying>ul>li:nth-of-type(2){
	background : url('./images/purchase_img_02.png') no-repeat 50% 30px;
	background-size : 120px;
}

.buying>ul>li dl{
	margin : 0 85px;
	margin-top : 177px;
}

.buying>ul>li dl dt{
	margin : 0 85px;
	margin-top : 177px;
	margin-bottom : 20px;
}

.buying>ul>li dl dd{	
	margin-bottom : 20px;
	line-height : 30px;
}

.buying>ul>li dl dd>strong{	
	font-size : 16pt;
	margin-bottom : 20px;
	line-height : 30px;
}

.buying>ul>li dl:nth-of-type(1) dt{
	font-size : 18pt;
}

.process{
	width : 1080px;
	padding-bottom : 100px;
	background : #e1e1e1; 
}



.process>ol li{
	width : 200px;
	padding : 0 20px;
	padding-top : 160px;
	padding-bottom : 50px;
	margin-right : 40px;
	margin-bottom : 60px;
	text-align : center;
	float : left;
}


.process>ol li:last-child{
	margin-right:0;
}

.process>ol li:nth-of-type(1){
	background : url('./images/mileag_procedure_01.png') no-repeat 50% 30px;
	background-size : 100px;
}

.process>ol li:nth-of-type(2){
	background : url('./images/mileag_procedure_02.png') no-repeat 50% 30px;
	background-size : 100px;
}

.process>ol li:nth-of-type(3){
	background : url('./images/mileag_procedure_03.png') no-repeat 50% 30px;
	background-size : 100px;
}

.process>ol li:nth-of-type(4){
	background : url('./images/mileag_procedure_04.png') no-repeat 50% 30px;
	background-size : 100px;
}

.process>a{
	text-align : center;
	width : 245px;
	background : #333;
	color : #fff;
	padding : 25px 0;
	margin : 0	auto;
}

.process>h2,.process>ul {
	text-align : left;
	margin-bottom : 20px;
	margin-left : 30px;
	line-height : 30px;
	
	
}

.process>ul>li {
	list-style: disc;
}


