<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>후원하기</title>
<link href="./css/main.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
	<div id="wrapper">
		<ul>
			<li>
				<img src="./images/sponsor-pic1.jpg" alt="해외교육지원사업" />
				<h3>해외교육지원사업</h3>
				<p>아동이 끝까지 교육을 받을 수 있도록<br />
				지속적인 교육의 기회를 제공하고,<br />
				아동의 권리를 보호합니다.</p>
				<div class="btn">
					<a href="#">후원하기</a>
				</div>
			</li>
			<li>
				<img src="./images/sponsor-pic2.jpg" alt="식수위생지원사업" />
				<h3>식수위생지원사업</h3>
				<p>아동과 지역 주민이 오염된 물로<br />
				인한 질병 및 어려움에서 벗어날 수<br />
				있도록 돕습니다.</p>
				<div class="btn">
					<a href="#">후원하기</a>
				</div>
			</li>
			<li>
				<img src="./images/sponsor-pic3.jpg" alt="희망학교지원사업" />
				<h3>희망학교지원사업</h3>
				<p>아프리카 아동들을 위한 학교를<br />
				세우고 교육환경 개선을 통해<br />
				아동의 꿈을 응원합니다.</p>
				<div class="btn">
					<a href="#">후원하기</a>
				</div>
			</li>
			<li>
				<img src="./images/sponsor-pic4.jpg" alt="보건의료지원사업" />
				<h3>보건의료지원사업</h3>
				<p>건강한 삶과 사회를 만들기 위해<br />
				열악한 보건위생환경을 개선하고,<br />
				기초의료 서비스를 지원합니다.</p>
				<div class="btn">
					<a href="#">후원하기</a>
				</div>
			</li>
			<li>
				<img src="./images/sponsor-pic5.jpg" alt="재난구호지원사업" />
				<h3>재난구호지원사업</h3>
				<p>재난복구를 통한 신속한 지원체계를<br />
				통해 지진,재난등에 대한 전문적인<br />
				긴급구호 활동을 진행합니다.</p>
				<div class="btn">
					<a href="#">후원하기</a>
				</div>
			</li>
			<li>
				<img src="./images/sponsor-pic6.jpg" alt="해외지역개발사업" />
				<h3>해외지역개발사업</h3>
				<p>해외빈곤국가 지역 주민의 건강한<br />
				자립을 돕기 위해 조합 운영을<br />
				통한 다양한 서비스를 지원합니다.</p>
				<div class="btn">
					<a href="#">후원하기</a>
				</div>
			</li>
		</ul>
	</div>

</body>
</html>