@charset "utf-8";

*{
	margin : 0;
	padding : 0;
	list-style :none;
	font-family: 'Nanum Gothic', sans-serif;
}

a{text-decoration : none;}
a:link,a:visited,a:active{color : #222;}

header{
	width :100%;
	height : 110px;
	border-top : 1px solid #777;
	border-bottom : 1px solid #007dc6;
	margin-top : 20px;
}

#wrapper{
	width : 990px;
	margin : 20px auto;
	height : 110px;
	position : relative;
}

#util_left, #util_rihgt, #logo, #gnb{
	position : absolute;
}

#util_left{
	top : 0px;
	left : 10px;
}

#util_left ul li{
	float : left;
	margin-right : 20px;
}

#util_left ul li a{
	font-size : 12px;
	font-weight : bold;
}

#util_left ul li a:hover{color : #777;}
#util_left ul li a:active{color : #777;}
#util_left ul li a:link{color : #777;}
#util_left ul li a:visited{color : #777;}

#util_rihgt{	
	top : 0px;
	right : 10px;
}

#util_rihgt ul li{
	float : left;
	margin-right : 10px;
}

#util_rihgt ul li:last-child{
	margin-right : 0px;
}

#util_rihgt ul li a{
	display : block;
	padding-right : 10px;
	border-right : 1px solid #777;	
}

#util_rihgt ul li:last-child a{
	border : 0px;
}

#util_rihgt ul li a{
	font-size : 11px;
}

#util_rihgt ul li a:hover{color : #777;}
#util_rihgt ul li a:active{color : #777;}
#util_rihgt ul li a:link{color : #777;}
#util_rihgt ul li a:visited{color : #777;}

#logo{	
	top : 40px;
	left : 10px;
}

#logo a{
	display : block;
}

#gnb{
	top : 50px;
	right : 10px;
}

#gnb ul li{	
	float : left;
	margin-right : 30px;
}

#gnb ul li:last-child{	
	margin-right : 0;
}

#gnb ul li a{
	font-size : 20px;
	font-weight : bold;
}

#gnb>ul>li>a:hover{ color : #007dc6;}














