<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>Galaxy S7 edg</title>
	<meta name="viewport" content="width=device-width
	, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	
	<!--
	content="width=device-width
	, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
	
	width=device-width : 페이지 너비를 디바이스의 가로사이즈로 설정
	
	initial-scale=1 : 웹페이지 로딩 시 확대/축소 되지 않은 원래 크기 사용(0~10 사이의 값 입력 가능)
	
	minimum-scale=1, maximum-scale=1 : 각각 최소, 최대로 확대 가능한 크기를 지정 해줌.(0~10 사이의 값 입력 가능)
	[1이 100%]
	
	user-scalable=no : 사용자가 화면을 확대/축소할 수 있는지 여부(yes/no)
	
	-->
	<link href="./css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<header class="wrap">
		<h1><a href="#"><img src="./images/logo.jpg" alt="로고" /></a></h1>
		<a href="#" id="menu"><img src="./images/menu.jpg" alt="menu" /></a>
	</header>
	
	<section class="wrap" id="main">
		<p>Galaxy S7 edge | S7</p>
		<img src="./images/s7.jpg" alt="Galaxy S7 edge | S7" />
		<p>Rethink what a phone can do</p>
	</section>
	<section class="wrap" id="movie">
		<ul>
			<li>
				<a href="#"><img src="./images/movie.jpg" alt="movie" /></a>
				<p>Galaxy S7 | S7 edge Official introducation</p>
			</li>
			<li>
				<a href="#"><img src="./images/vr.jpg" alt="vr" /></a>
				<p>Unpacked 2016 The All New Galaxy</p>
			</li>
		</ul>
	</section>
	<section class="wrap" id="product">
		<p>The All New Galaxy</p>
		<ul>
			<li>
				<a href="#"><img src="./images/bnr1.jpg" alt="bnr1" /></a> 
				<p>Galaxy S7 edge | S7<p>
			</li>
			<li>
				<a href="#"><img src="./images/bnr2.jpg" alt="bnr2" /></a> 
				<p>Gear 360<p>
			</li>
			<li>
				<a href="#"><img src="./images/bnr3.jpg" alt="bnr3" /></a> 
				<p>Accessories<p>
			</li>
			<li>
				<a href="#"><img src="./images/bnr4.jpg" alt="bnr4" /></a> 
				<p>Galaxy Gallery<p>
			</li>
		</ul>
	</section>
	<footer class="wrap">
		<img src="./images/logo_gray.jpg" alt="footer_logo" />
		<address>
			ALL CONTENTS COPYRIGHT &copy;<br />
			SAMSUNG. COM | SAMSUNGMOBILEPRESS.COM
		</address>
	</footer>
</body>
</html>