@charset "utf-8";
@import "reset.css";
/*리셋 스타일시트 포함시키기*/

*{box-sizing : borde-box;}

/*a 링크*/

a{text-decoration: none;}
a:link{color : #000;}
a:visited, a:hover, a:active{color : #333;}

/*공통사용 버튼 스타일*/

.black_btn{
	width : 200px;
	height : 35px;
	line-height : 35px;
	background : #000;
	color : #fff;
	font-size : 11pt;
	text-align : center;
	cursor : pointer;
}

.white_btn{
	width : 200px;
	height : 35px;
	line-height : 35px;
	background : #fff;
	color : #000;
	font-size : 11pt;
	text-align : center;
	cursor : pointer;
	border : 1px solid #000;
}




/*공통 레이아웃 CSS*/

#container{
	width : 90%;
	max-width : 1430px;
	margin : 0 auto;
}




/*헤더영역 CSS*/

header{
	height : auto;
	padding : 10px;
	display : flex;
	flex-flow : row wrap;
	justify-content : space-around;
	/*
	flex-flow는
	flex-direction, flex-wrap  속성을 축약해서 사용할 수 있음.
	
	flex-wrap 플렉스 항목을 한줄 또는 여러줄로 배치할 때 사용.
		- nowrap : 기본값, 한줄에만 표시.
		- wrap : 플렉스 항목들을 여러줄로 표시.
		
	flex-direction 플렉스 방향 지정
		- row : 가로를 주축으로 배치.
		- column : 세로를 주축으로 배치.
	*/
	align-items : center;
}

header h1{
	float : left;	
}
/*space-around;로 해서 왼쪽으로 딱 붙지 않기 때문에*/

.gnb, .util_icon{
	display : flex;
	flex-flow : row wrap;
	justify-content : center;
}

.gnb a{
	display : block;
	font-weight : bold;
	line-height : 87px;
	padding : 0 30px;
}

.util_icon a{padding : 0 10px;}
.util_icon img{width : 20px;}



/*비주얼 배너 영역*/

#visual_banner{
	width : 100%;
	height : auto;
}

#visual_banner img{
	width : 100%;
}




/*컬렉션 영역*/

#collection_sec{
	width : 100%;
	padding-top : 80px;
	display : flex;
	flex-flow : row wrap;
	justify-content : space-around;
}

.img_box{
	width : 760px;
	height : 438px;
	/*사용할 이미지 사이즈와 동일*/
	margin-bottom : 80px;
	border : 1px solid #ccc;
}

.img_box:first-child{
	background-image : url('../images/img01.jpg');
	background-position : center;
	background-repeat : no-repeat;
	background-size : cover;
	
}

.img_box:last-child{
	background-image : url('../images/img02.jpg');
	background-position : center;
	background-repeat : no-repeat;
	background-size : cover;
	
}

.text_box{
	width : 430px;
	padding-top : 60px;
	margin-bottom : 80px;
}

.text_box p:nth-child(1){
	font-size : 3rem;
}
.text_box p:nth-child(2){
	font-size : 1.2rem;
	color : #666;
	margin : 10px 0;
}
.text_box p:nth-child(3){
	color : #ccc;
	line-height : 2.5rem;
	margin-bottom : 30px;
}



/*배너영역 CSS*/

#banner_sec{
	width : 100%;
	display : flex;
	flex-flow : row wrap;
	justify-content : space-around;
	margin-bottom : 100px;
}

.small_banner figure{
	margin : 0 30px;
}

.small_banner figure figcaption{
	font-weight : bold;
}

.small_banner{
	display : flex;
	flex-flow : row wrap;
	justify-content : space-around;	
	margin-bottom : 100px;
}

.large_banner{
	width : 100%;
	height : 320px;
	background : url('../images/img05.jpg') no-repeat center;
	background-size : contain;
}



/*쇼비하인드영역 CSS*/

#scenes_sec{
	width : 100%;
	display : flex;
	flex-wrap : wrap;
	justify-content : center;
	align-items : center;
	margin-bottom : 100px;
}

#scenes_sec img{
	width : 50%;
}

.g_title{
	width : 100%;
	background : #000;
	height : 80px;
	line-height : 80px;
	text-align : center;
	font-size : 1.5rem;
	color : #fff;
}



/*푸터 영역 CSS*/

footer{
	height : auto;
	padding : 40px 50px;
	background : #c1c1c1;
	display : flex;
	flex-wrap : wrap;
	justify-content : space-between;
}

.f_info{
	margin : 0, 20px;
}

.info_title{
	color : #000;
	font-weight : bold;
	padding : 10px 0;
}

.f_info li a{
	padding : 10px;
	line-height : 30px;
}

.f_info:last-child{
	width : 480px;	
}

.f_info:last-child>li:nth-child(1){
	font-size : 2rem;
	margin : 25px 0;
}

.f_info:last-child>li:nth-child(2){
	color : #666;
	margin : 25px 0;
}

/*카피라이트*/


#copy_sec{
	width : 100%;
	background-color : #000;
	color : #fff;
	height : 60px;
	line-height : 60px;
	text-align : center;
}









































