<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>NEW</title>
<link href="./flexbox02.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<h3>교차축(세로, 열, y) 방향 배치방법</h3>
	<div id="con1" class="wrapper">
		<div><p>box1</p></div>
		<div><p>box2</p></div>
		<div><p>box3</p></div>
	</div>
	<div id="con2" class="wrapper">
		<div><p>box1</p></div>
		<div><p>box2</p></div>
		<div><p>box3</p></div>
	</div>
	<div id="con3" class="wrapper">
		<div><p>box1</p></div>
		<div><p>box2</p></div>
		<div><p>box3</p></div>
	</div>
	<div id="con4" class="wrapper">
		<div><p>box1</p></div>
		<div><p>box2</p></div>
		<div><p>box3</p></div>
	</div>
	<div id="con5" class="wrapper">
		<div><p>box1</p></div>
		<div><p>box2</p></div>
		<div><p>box3</p></div>
	</div>

</body>
</html>