<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>카페베네메인</title>
<link href="./style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
<header>
	<nav id="util">
		<ul>
			<li><a href="#">로그인</a></li>
			<li><a href="#">매장찾기</a></li>
			<li><a href="#">채용정보</a></li>
			<li><a href="#">단체 및 기업구매</a></li>
			<li><a href="#">고객서비스</a></li>
			<li id="u_logo"></li>
		</ul>
	</nav>
	<nav id="gnb">
		<ul>
			<li id="g_logo"></li>
			<li><a href="#">BUY ONLINE</a></li>
			<li><a href="#">MENMBER'CLUB</a></li>
			<li><a href="#">MENU</a></li>
			<li><a href="#">STORE</a></li>
			<li><a href="#">THE COFFEE BEAN</a></li>
			<li><a href="#">CBTL</a></li>
		</ul>
	</nav>
</header>
<section id="sec_visualbn">
</section>
<section id="sec_subbn">
</section>
<section id="sec_mdpick">
<h1>MD'S PICK</h1>
<div class="sec_wrap">
	<ul class="md_list">
		<li><img src="./img/img1.jpg"></li>
		<li>데일리 펜(핑크)</li>
		<li>2,500원</li>
	</ul>
	<ul class="md_list">
		<li><img src="./img/img2.jpg"></li>
		<li>커피빈X하리오 캐니스터</li>
		<li>9,500원</li>
	</ul>
	<ul class="md_list">
		<li><img src="./img/img3.jpg"></li>
		<li>레트로 글라스 머그</li>
		<li>9,000원</li>
	</ul>
	<ul class="md_list">
		<li><img src="./img/img4.jpg"></li>
		<li>매트 블랙 텀블러 450ml</li>
		<li>21,000원</li>
	</ul>
</div>
</section>
<section id="sec_news">
<h1>What's new</h1>
<div class="sec_wrap"><!--1040 상하 100-->
	<ul class="wn_list">
		<li><img src="./img/img5.jpg"></li>
		<li>2019 03 Black Sugar Pearl Latte</li>
	</ul>
	<ul class="wn_list">
		<li><img src="./img/img6.jpg"></li>
		<li>2019 03 Brown Grandation Steel Tumbler</li>
	</ul>
	<ul class="wn_list">
		<li><img src="./img/img7.jpg"></li>
		<li>2019 02 Strawberry Drinks</li>
	</ul>
</div>
</section>
<section id="sec_hash">
<h2>#커피빈코리아 #커피빈맛있다 #커피빈사랑해</h2>
<div id="hash_wrap">
<div class="hash_box" id="h_box1"></div>
<div class="hash_box" id="h_box2"></div>
<div class="hash_box" id="h_box3"></div>
<div class="hash_box" id="h_box4"></div>
<div class="hash_box" id="h_box5"></div>
<div class="hash_box" id="h_box6"></div>
<div class="hash_box" id="h_box7"></div>
<div class="hash_box" id="h_box8"></div>
<div class="hash_box" id="h_box9"></div>
<div class="hash_box" id="h_box10"></div>
<div class="hash_box" id="h_box11"></div>
<div class="hash_box" id="h_box12"></div>
</div>
<p>OUR INSTAGRAM - @CAFFEEBEANKOREA</p>
</section>
</div>
<footer>
<div id="ft_img">
</div>
</footer>
</body>
</html>